html{
    block-size: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
   
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #0B0B0B;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Roboto Condensed', serif;
  
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}